:root{
  --color-fonts:#454545;  
}

*{
  box-sizing:border-box;
}
body {
	background-image: url(../img/5185208.jpg);
}
a {
	color:#fbcf05;
	transition: all 0.3s ease-in-out;
}
a:hover {
	color: orange;
	transition: all 0.3s ease-in-out;
	text-shadow: 2px 2px 5px gold;
}
.main-container .login-wrapper .header a,.main a{
  text-decoration:none;
}

/*Gral and main container styles*/
.main-container {
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    font-family: "Poppins", sans-serif;
}

/*Left container styles (login)*/
.main-container .login-wrapper{
   display:flex; 
   width:85%;
   box-shadow: -5px 10px 20px rgba(0,0,0,0.30);
}

.main-container .login-wrapper .left-container{
    background-color:#FAFAF5; 
}
/*left container HEADER*/
.main-container .login-wrapper .left-container .header{
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 5%;
}
.main-container .login-wrapper .left-container .header .register{
  color:var(--color-fonts);
  font-size:3vw;
  font-weight:600;
}
.main-container .login-wrapper .left-container .header .arrow{
    font-size:1.8vw;
}  


/*left container MAIN*/
.main-container .login-wrapper .left-container .main{
  padding: 0% 15%;
  
}
.main-container .login-wrapper .left-container .main h2{
  font-size:1.1vw;
  font-weight:700;
}

.main-container .login-wrapper .left-container .main p{
  padding-top:4%;
  padding-bottom:3%;
  font-size:0.78rem;
  font-weight:500;
  line-height:1.2rem;
}
.main-container .login-wrapper .left-container .main .patt {
	padding: 0;
	margin: 1.1rem 0 0.2rem 0;
}
.main-container .login-wrapper .left-container .main .login-now {
	margin: 0.8rem 0 0.4rem 0;
	padding: 3% 20%;
}
.main-container .login-wrapper .left-container .main .login-now a:hover {
	transition: all 0.3s ease-in-out;
	filter: brightness(120%) drop-shadow(2px 2px 5px #333);
}
.main-container .login-wrapper .left-container .main form input{
  width:100%;
  padding:10px;
  font-size:1vw;
  border:none;
  background-color:#DCE3E3;
  border-radius: 4px;
  /*margin:3.2% 0rem;*/
}
    /*effects and interactions css*/
.main-container .login-wrapper .left-container .main form input:focus{
    background-color:#BCD1D1;
    
  }   
.main-container .login-wrapper .left-container .main .forgotPass{
  text-align:right;
  margin-top:1%;
  margin-bottom:5%;
}
.main-container .login-wrapper .left-container .main .forgotPass a{
  color:var(--color-fonts);
  font-size:1vw;
  font-weight:600;
}
    /*effects and interactions css*/
.main-container .login-wrapper .left-container .main .forgotPass a:active{
    color:#000;
}    
.main-container .login-wrapper .left-container .main .login-now a{
   display:block;
   background: linear-gradient(to right bottom, red, #fbcf05);
   color:#F7F5F5;
   width:100%;
   padding:6% 0%;
   border-radius:2rem;
   text-align:center;
   font-size:1.2vw;
   font-weight:600;
}
    /*effects and interactions css*/
.main-container .login-wrapper .left-container .main .login-now a:active{
    border-radius:2rem;
    border:1px solid #647070;
    box-shadow: 0px 0px 5px #3B4242;
 }
.main-container .login-wrapper .left-container .main .line{
  display:block;
  width:100%;
  border:1px #DCE3E3 solid;
}


/*left container FOOTER*/
.main-container .login-wrapper .left-container .footer{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:0% 20% 3% 20%;
}

.main-container .login-wrapper .left-container .footer .social-media{
  display:flex;
  flex-direction:column;
}
.main-container .login-wrapper .left-container .footer .social-media h3{
    font-size:1.2vw;
    font-weight:500;
    padding-bottom:5%;
    width:100%;
    text-align:center;
  }
  .main-container .login-wrapper .left-container .footer .social-media .links-wrapper{
    display:flex;
    justify-content:space-evenly;
  }
.main-container .login-wrapper .left-container .footer .social-media .links-wrapper a{
  width:12%;
}
    /*effects and interactions css*/
.main-container .login-wrapper .left-container .footer .social-media .links-wrapper a:active{
    box-shadow: 0px 0px 5px #3B4242;
    border-radius:50%;
    padding:1px;
}
.main-container .login-wrapper .left-container .footer .social-media .links-wrapper a img{
  width:100%;
  
}

/*Right container styles*/
.main-container .side-container{
  background-color:#444c68;/*por si no llega a cargar la img*/
  min-width:60%;
  display:flex;
  justify-content:center;
  align-items:flex-end;
  filter:contrast(90%);
}

.main-container .side-container .side-text-container{
  display:flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.main-container .side-container .short-line{
  width:25%; 
  padding-right:5%;
  padding-left:10%; 
}
.main-container .side-container .short-line hr{      
  border:#E8E8E8 1PX solid;
}
.main-container .side-container .side-text-container .text{
  display:flex;
  flex-direction:column;
  color:white;
  text-shadow: 3px 3px 3px #0f0f0f, -3px -3px 10px #f0f0f0;
  width:75%;
  justify-content: center;
  margin: 0 70px;
}
.main-container .side-container  .side-text-container .text h3{
  font-size:1.55rem;
  font-weight:600;
  padding-bottom:3%;
}
.main-container .side-container  .side-text-container .text p{
  line-height:1.35rem;
  font-size:1rem;
  font-weight: 500;
  text-shadow: 3px 3px 5px #0f0f0f, -3px -3px 5px #0f0f0f, -3px 3px 5px #0f0f0f, 3px -3px 5px #0f0f0f;
}

@media only screen and (max-width: 768px) {
    .main-container .login-wrapper{
        display:flex; 
        flex-direction:column-reverse;
        width:100%;
        margin:0% 0%;
    }

    .main-container .login-wrapper .left-container .header .register{
        font-size:30px;
    }
    .main-container .login-wrapper .left-container .header .arrow{
        font-size:5vw;
    }  
    /*effects and interactions css*/
    .main-container .login-wrapper .left-container .header .register:active, .arrow:active{
        background-color:#FAFAF5 ;
        color:var(--color-fonts);
        border-radius:2rem;
        padding:2px;
        box-shadow: 0 5px 10px #3B4242;
    }
    .main-container .login-wrapper .left-container .main h2{
        font-size:5vw;
    }    
    .main-container .login-wrapper .left-container .main p{
        font-size:3vw;
        line-height:1.2rem;
    }
    .main-container .login-wrapper .left-container .main form input{
        font-size:3vw;
    }
    .main-container .login-wrapper .left-container .main .forgotPass a{
        font-size:3vw;
    }
    .main-container .login-wrapper .left-container .main .login-now a{
        font-size:3vw;
        font-weight:700;
    }
    .main-container .login-wrapper .left-container .footer .social-media h3{
        font-size:3.5vw;
    }


    .main-container .side-container{
        width:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        min-height:30vh;
    }
    .main-container .side-container .short-line{
        display:none; 
    }
    .main-container .side-container .side-text-container{
        display:flex;
        justify-content:center;
        align-items:center;
        padding:0%;
    }  
    .main-container .side-container .side-text-container .text{
        justify-content:center;
        align-items:center;
        text-align:center;  
        padding-bottom:5%;
    }
}

@media only screen and (min-width:481px)and (max-width: 768px) { 
    .main-container .login-wrapper .left-container .main p {
        line-height:100%;
    }
    .main-container .login-wrapper .left-container .main {
    	padding: 0 10%;
    }
}	
 
    @media only screen and (min-width: 1200px) {
        .main-container .login-wrapper .left-container .main h2{
            font-size:1.3vw;
        }  
        .main-container .login-wrapper .left-container .main p{
            font-size:1.1vw;
            line-height:1.5rem;
        }
        .main-container .side-container .short-line hr{      
            border:#E8E8E8 2PX solid;
        }
        .main-container .side-container .side-text-container .text{
            width:100%;
        }
        .main-container .side-container  .side-text-container .text h3{
            font-size:2rem;
        }
        .main-container .side-container  .side-text-container .text p{
            font-size:1rem;
        }  
}
@media only screen and (min-width: 2000px){
    .main-container .login-wrapper .left-container .main p{
        line-height:2.5rem;
    }

}
@media only screen and (min-width: 320px) {
	.main-container .side-container .side-text-container {
		padding: 5% 0;
    }
}
@media only screen and (max-width: 320px) {
	h3 {
		font-size: 17px;
	}
	.main-container .side-container .side-text-container {
		padding: 8% 0;
    }
	.main-container .login-wrapper .left-container .main {
		padding: 0 10%;
	}
	.main-container .side-container .side-text-container .text {
		padding-bottom: 0;
	}
	.main-container .login-wrapper .left-container .header .register{
        font-size:20px;
    }
}